.leftside{
    position: relative;
    left: 0%;

}
.rightside{
    position: relative;
    right: 0%;
}
.maincontact{
    display:flex;
    flex-direction: row;
    height:100vh;
}
.leftside img{
    width:40vw;
    height:100%;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
.rightside{
    height:100%;
    width:60vw;
    background-color: #D9EEEC;
}
.formcontent{
    height: 95%;
    display:flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   

}
.formcontent > input,textarea{
     width:95%; 
    margin:10px 0px;
    background-color: #E8F6EF;
    font-size: 15px;
    border:2px solid #5584AC;
}
.formcontent > input{
    padding:20px;
    border-radius: 10px;

}
.formcontent > textarea{
    padding:25px;
    height: 10vh;
    border-radius:10px;
    resize:none;
    /* -webkit-font-smoothing:; */
    /* -webkit-rtl-ordering: logical; */
    overflow: hidden;
}
/* .formcontent textarea :placeholder-shown{

} */
.rightside > h1{
    text-align: center;
    padding:10px;
    font-size: 40px;
    background-color: #64B2CD;
    color:#D9EEEC;
}
#formbutton{
    padding:8px 14px;
    margin-top:10px;
    border-radius: 5px;
    transition: linear 0.3s;
    font-size: 15px;
    border:none;
    background-color:#78DEC7 ;
}
#formbutton :hover{
    transform: scale(1.1);
}